@import '../../colors.scss';
@import '../../mediaQuery';

//=====Explore=====

.explorePage {
  background-color: #4F5946;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  z-index: 2;
}
#exploreComponent {
  height: 100%;
  overflow: hidden;
}

//=====POICard=====

.poiCard {
  overflow: hidden;
  height: 100%;
  background-color: #B1C79E;
  color: #4F5946;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 3px 5px black;

  display: flex;
  flex-direction: column;

  h1 {

  }

  .poiCardImg {
    width: 100%;
    height: 60%;
    img {
      background-size: cover;
      max-height: 100%;
    }
  }

  .poiCardRating {

  }
}

.poiContainer {
  display: inline-block;
  max-width: 300px;
  max-height: 250px;
  min-width: 250px;
  margin: 30px;
  z-index: 1;
}

.poiContainer:hover {
  .poiCard {
    box-shadow: 1px 1px 5px black;
    transform: translate(2px,2px);
    padding-left: 2px;
    padding-top: 2px;
  }
}
.poiContainer:active {
  .poiCard {
    box-shadow: none;
    transform: translate(3px,3px);
  }
}
