@import '../../colors.scss';
@import '../../mediaQuery';

.accountPage {
  height: 100%;
  display: flex;
  padding: 5%;
  padding-top: 30px;
  background-color: $secondary_color;
  z-index: 2;
}
.currentUserViewComponent {
  width: 20%;
  margin-right: 5%;
}
.accountUser {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.userProfilePic {
  min-height: 150px;
  min-width: 150px;
}
.accountContent {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;

  .accountTabs {
    display: flex;
    flex-direction: row;
  }
}

.accountTab {
  background-color: $secondary_color;
  border: none;
  border-bottom: 3px solid $secondary_color;
  outline: none;
  border-radius: 0px;
  margin: 10px;
  height: 35px;
}
.accountTab:hover {
  border-bottom: 3px solid transparentize($accent_color,.8);
}

.activeTab {
  border-bottom: 3px solid $accent_color !important;
}


//=====CurrentUserView=====
.userProfilePic {
  img {
    width: 100%;
  }
}

//=====CurrentUserLists=====
.listItem {
  display: flex;
  align-items: center;
  height: 70px;

  h2 {
    min-width: 100px;
    height: 30px;
    padding: 2px;
    margin-top: 10px;
  }

  .listItemArrow {
    margin-top: 5px;
  }

  #editListNameInput {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: lighter;
    padding: 2px;
    color: black;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: transparentize(black, .8);
        opacity: 1; /* Firefox */
    }
  }
}

.listDiv {
  display: flex;
  position: relative;
  background-color: transparentize(black, .8);
  border-radius: 10px;
  margin: 5px;
  transition: width .2s;
  width: 32px;

}
.trashIcon, .editIcon {
  padding: 5px 5px 5px 10px;
  //font-size: .5em;
  transition: color 1s;
  font-size: .8em;
}
.banIcon, .checkIcon {
  padding: 5px 5px 5px 10px;
  //font-size: .5em;
  transition: color 1s;
  font-size: .8em;
}
#listOpenCarot {
  transition: transform .1s;
  font-size: 1.5em;
  margin-right: 10px;
}
.poiListItems {
  margin-left: 20px;
}
#listViewPOI {
  font-size: 12px;
  text-decoration: underline;
}

.createNewListDiv {
  display: flex;
  align-items: center;

  p {
    margin: 0px;
  }
}
#createListPlusCircle {
  margin: 5px;
}

//===========CurrentUserReviews==============
.reviewItem {
  margin: 5px;
  padding: 5px;
  border: 2px solid $primary_color;
  border-radius: 5px;
  background-color: $primary_color;
  display: inline-block;
  width: 20%;
}
