@import '../../colors.scss';
@import '../../mediaQuery';

.accountPage {
  height: 100%;
  display: flex;
  padding: 10%;
  padding-top: 30px;
  background-color: $secondary_color;
}
.currentUserViewComponent {
  width: 20%;
}
.accountUser {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;

}
.userProfilePic {
  min-height: 150px;
  min-width: 150px;
}
.accountContent {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;

  .accountTabs {
    display: flex;
    flex-direction: row;
  }
}

.accountTab {
  background-color: $secondary_color;
  border: none;
  border-bottom: 3px solid $secondary_color;
  outline: none;
  border-radius: 0px;
  margin: 10px;
  height: 35px;
}
.accountTab:hover {
  border-bottom: 3px solid transparentize($accent_color,.8);
}

.activeTab {
  border-bottom: 3px solid $accent_color !important;
}


//=====CurrentUserView=====
.userProfilePic {
  img {
    width: 100%;
  }
}
