$base_color: rgba(176, 216, 216, 1);/*#B0D8D8*/
$secondary_color: #99AE8D;
$accent_color: #C8CEC3;
$white: white;
$black: black;

$primary_color: #777F70;
//$secondary_color: #99AE8D;
//$accent_color: #143600;
