@import "../../colors.scss";

.navagation__bar {
  background-color: #143600;
  display: flex;
  justify-content: space-evenly;
  color: $secondary_color;
  min-height: 50px;
  max-height: 55px;
  height: 8%;
  min-width: 800px;
}

.navagation__logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-self: center;
}

.navagation__links {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 2;
  align-self: center;
}

.navagation__searchbar {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-self: center;
}

.navagation__searchbar form {
  width: 90%;
  height: 25px;
}

.navagation__searchbar__input {
  width: 80%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  height: 100%;
}

.navagation__searchbar__submit {
  width: 20%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  background-color: #99AE8D;
  color: #143600;
}

.navagation__searchbar__results {
  position: relative;
  background-color: $secondary_color;
  width: 80%;
  z-index: 100;
  border: 2px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: $primary_color;
}
.searchResult {
  cursor: pointer;
}
.searchResult:hover {
  background-color: darken($secondary_color, 10%);
}
.searchHeading {
  width: 100%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.navagation__link {
  color: #99AE8D;
  text-decoration: none;
}

.navagation__link:hover {
  text-decoration: underline;
  color: #99AE8D;
}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navagation__link__account {
  position: relative;
}

.navagation__link__account:hover {
  svg {

  }
}

.accountBox {
  position: absolute;
  background-color: $secondary_color;
  color: $primary_color;

  display: flex;
  flex-direction: column;
  width: 100%;
}
.--hidden {
  display: none;
}
.account__link {
  padding: 5px;
  text-decoration: none;
}
.account__link:hover {
  text-decoration: underline;
}

.orSeperator {
  color: opacify($secondary_color, 1);
  margin: 10px;
}
