#form {
    text-align: center;
    background-color: #99AE8D;
    height: 100%;
    z-index: 2;
}

#container{
    margin: auto;
    width: 10%;
    display: table;
}

#formReview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#gettable{
    display: table-row;
}

#icon1div{
    display: table-cell;
}

#icon2div{
    display: table-cell;
}

#icon3div{
    display: table-cell;
}

#icon4div{
    display: table-cell;
}

#icon5div{
    display: table-cell;
}

#submitReview {
    width: 40%;
}

#body {
    resize: none;
}

.review__kiwi{

}

.review__kiwi--colored{
    color: red;
}
