@import '../../colors.scss';
@import '../../mediaQuery';

.moderationPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $secondary_color;
  z-index: 2;
  padding: 10px;
}
.modCols {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.modCol {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrollView {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

//=====ModerationOverviewCard=====
.overviewCard {
  min-width: 100px;
  min-height: 100px;
  width: 80%;
  margin: 20px;
  background-color: $primary_color;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 5px;
  overflow: hidden;
  align-items: center;

}
.modDecisionBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  input {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  label {
    margin: 5px;
    text-align: center;
  }
}
.overviewCardBtns {
  display: flex;
  height: 20px;
}
.modViewPOIBtn {
  margin: 5px !important;
  height: 100% !important;
}
.modDecisionBoxRadios {
  display: flex;
}
.cardTitle {
  font-weight: bold;
  font-size: 1.2em;
}
