#landing {
  height: 100%;
}

header {
  text-align: center;
  display: flex;
  margin: auto;
}

body {
  text-align: center;
}

footer {
  text-align: center;
}

.header__link {
  color: black;

}

.header__link:hover {
  text-decoration: underline;
}
