@import '../../colors.scss';
@import '../../mediaQuery';

//=====Home=====
.homePage {
  background-color: $secondary_color;
  height: 100%;
}
.homePage__elements {
  display: flex;
}
.homePage__element {
  background-color: $primary_color;
  border: 1px solid black;
}


//=====Feed=====

//=====OnlineUsers=====
.onlineUserList {
  background-color: $primary_color;
  overflow-y: auto;
  width: 20%;
}
.onlineUser {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {
    color: black;
    font-style: italic;
  }
}
