@import '../../colors.scss';
@import '../../mediaQuery';

//=====Home=====
.homePage {
  background-color: $secondary_color;
  height: 100%;
  z-index: 2;
}
.homePage__elements {
  display: flex;
}
.homePage__element {
  background-color: $primary_color;
  border: 1px solid black;
}


//=====Feed=====

//=====OnlineUsers=====
.onlineUsersComponent {
  position: absolute;
  bottom: 0px;
  background-color: $primary_color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:200px;
}
.onlineUsersList {

}
.closed {
  display: none;
}
.openListBtn {
  background-color: none;
  padding: 10px;
}
.onlineUser {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {
    color: black;
    font-style: italic;
  }
}
