@import '../../colors.scss';
@import '../../mediaQuery';

//=====Home=====
.homePage {
  background-color: $secondary_color;
  height: 100%;
  z-index: 2;
  padding: 10px;
  overflow: auto;
}
.homePage__elements {
  display: flex;
}
.homePage__element {

}


//=====Feed=====
.feedComponent {
  display: flex;
  flex-direction: column;
}
.poiFeed {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.feedSection {
  margin: 5px;
}

.feedExpand {
  font-size: 12px;
  
}

//=====OnlineUsers=====
.onlineUsersComponent {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 5%;
  background-color: $primary_color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:200px;
  padding: 5px;

  &:hover {
    background-color: darken($primary_color, 5%);
  }
}
.onlineUsersList {

}
.closed {
  display: none;
}
.openListBtn {
  background-color: none;
  padding: 10px;
}
.onlineUser {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {
    color: black;
    font-style: italic;
  }
}
