@import '../../mediaQuery';

#containerSuggest{
  background-color: #99AE8D;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
  align-items: center;
}

#suggestHeader{
  text-align: center;
}

#suggestForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: grey;
}

#row1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 500px;
}

#row2 {
  flex-direction: row;
  text-align: center;
  margin-top: 2%;
  width:30%;
  margin-left: auto;
  margin-right: auto;
}

#suggestMaps {
  width: 50%;
  flex-direction: column;
}

#suggestNotMaps {
  width: 50%;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 7%;
}

#actualMap{
  height: 95%;
  width: 80%;
}

#discriptBox{
  resize: none;
}

#mapMarker{
  color: red;
}

#suggestSubmit{
  text-align: center;
  margin: auto;
}

#suggestImage{
  max-width: 200px;
}

#uploadImageBtn {

}

#imgRow {
  display: block;
  img {
    float: left;
  }
  button {
    float: right;
  }

}

#row3 {
  display: flex;
  width:30%;
  margin-left: auto;
  margin-right: auto;
}

.loadPart {
  width: 25%;
  height: 12px;
  border: 1px solid black;
  font-size: 10px;
  padding: 2px;
}

#spinner {
  animation: rotation 1s infinite 
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
