@import '../../mediaQuery';

#containerSuggest{
  background-color: #99AE8D;
  height: 100%;
  width: 100%;
  display: flex;
}

#formSuggest{
  width: 100%;
  height: 100%;
  margin-top: 5%;
  text-align: center;
}

#suggestHeader{
  font-size: x-large;
}

#suggestForm {
  height: 100%;
}

#suggestMaps {
  float: right;
  height: 50%;
  width: 50%;
  border: dashed;
}

#suggestNotMaps {
  float: left;
  height: 50%;
  width: 50%;
  border: dashed;
}