@import '../../mediaQuery';

#containerCreate {
    background-color: #99AE8D;
    height: 100%;
    width: 100%;
}

#formCreate {
    background-color: #777F70;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 3%;
    border-radius: 30%;
    text-align: center;
}

#positionForm {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align: left;
}

#createHeader {
    font-size: x-large;
}

#createSubmit {
}

@include mobile {
  //background-color: green;
}

@include tablet {
  //background-color: red;
}

@include laptop {
  //background-color: blue;
}

@include desktop {
  //background-color: yellow;
}
