@import '../../colors.scss';
@import '../../mediaQuery';

.searchPage {
  background-color: $secondary_color;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  padding: 10px;
}
.resultsScroll {
  height: 100%;
  overflow-y: scroll;
}
